swagger: '2.0'
info: 
  title: TDS
  version: 'Version 0.5'
host: 'test5.services.ird.govt.nz:4046'
basePath: /gateway/tds/
schemes: 
  - https
paths: 
  /financials: 
    post: 
      tags: 
        - TDS Financials
      summary: TDS Financials
      description: ""
      operationId: financialsPOST
      consumes: 
        - 'application/json; charset=utf-8'
      produces: 
        - 'application/json; charset=utf-8'
      parameters: 
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/financials_POST_Request'
      responses: 
        '200': 
          description: 'HttpStatus: 200 - OK'
          schema: 
            $ref: '#/definitions/financials_POST_Response200'
        '400': 
          description: 'HttpStatus: 400 - BadRequest'
          schema: 
            $ref: '#/definitions/financials_POST_Response400'
        '401': 
          description: 'HttpStatus: 401 - Unauthorized'
          schema: 
            $ref: '#/definitions/financials_POST_Response401'
        default: 
          description: ' '
          schema: 
            $ref: '#/definitions/financials_POST_ResponseDefault'
  /summary: 
    post: 
      tags: 
        - TDS Summary
      summary: TDS Summary
      description: ""
      operationId: summaryPOST
      consumes: 
        - 'application/json; charset=utf-8'
      produces: 
        - 'application/json; charset=utf-8'
      parameters: 
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/summary_POST_Request'
      responses: 
        '200': 
          description: 'HttpStatus: 200 - OK'
          schema: 
            $ref: '#/definitions/summary_POST_Response200'
        '400': 
          description: 'HttpStatus: 400 - BadRequest'
          schema: 
            $ref: '#/definitions/summary_POST_Response400'
        '401': 
          description: 'HttpStatus: 401 - Unauthorized'
          schema: 
            $ref: '#/definitions/summary_POST_Response401'
        default: 
          description: ' '
          schema: 
            $ref: '#/definitions/summary_POST_ResponseDefault'
    get: 
      tags: 
        - TDS Summary Status
      summary: TDS Summary Status
      description: ""
      operationId: summaryGET
      produces: 
        - 'application/json; charset=utf-8'
      parameters: []
      responses: 
        '200': 
          description: 'HttpStatus: 200 - OK'
          schema: 
            $ref: '#/definitions/summary_GET_Response200'
        '401': 
          description: 'HttpStatus: 401 - Unauthorized'
          schema: 
            $ref: '#/definitions/summary_GET_Response401'
        default: 
          description: ' '
          schema: 
            $ref: '#/definitions/summary_GET_ResponseDefault'
  /transactions/batch: 
    post: 
      tags: 
        - TDS Transactions (Batch)
      summary: TDS Transactions (Batch)
      description: ""
      operationId: transactions/batchPOST
      consumes: 
        - 'application/json; charset=utf-8'
      produces: 
        - 'application/json; charset=utf-8'
      parameters: 
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/transactions_batch_POST_Request'
      responses: 
        '200': 
          description: 'HttpStatus: 200 - OK'
          schema: 
            $ref: '#/definitions/transactions_batch_POST_Response200'
        '400': 
          description: 'HttpStatus: 400 - BadRequest'
          schema: 
            $ref: '#/definitions/transactions_batch_POST_Response400'
        '401': 
          description: 'HttpStatus: 401 - Unauthorized'
          schema: 
            $ref: '#/definitions/transactions_batch_POST_Response401'
        default: 
          description: ' '
          schema: 
            $ref: '#/definitions/transactions_batch_POST_ResponseDefault'
  /transactions/realtime: 
    post: 
      tags: 
        - TDS Transactions (Real Time)
      summary: TDS Transactions (Real Time)
      description: ""
      operationId: transactions/realtimePOST
      consumes: 
        - 'application/json; charset=utf-8'
      produces: 
        - 'application/json; charset=utf-8'
      parameters: 
        - name: body
          in: body
          required: true
          schema: 
            $ref: '#/definitions/transactions_realtime_POST_Request'
      responses: 
        '200': 
          description: 'HttpStatus: 200 - OK'
          schema: 
            $ref: '#/definitions/transactions_realtime_POST_Response200'
        '400': 
          description: 'HttpStatus: 400 - BadRequest'
          schema: 
            $ref: '#/definitions/transactions_realtime_POST_Response400'
        '401': 
          description: 'HttpStatus: 401 - Unauthorized'
          schema: 
            $ref: '#/definitions/transactions_realtime_POST_Response401'
        default: 
          description: ' '
          schema: 
            $ref: '#/definitions/transactions_realtime_POST_ResponseDefault'
definitions: 
  financials_POST_Request: 
    type: object
    required: []
    properties: 
      customerId: 
        type: string
        description: 'The unique identifier of a customer. When customerId is supplied, accountId must be omitted.'
        maxLength: 9
        minLength: 9
      accountId: 
        type: string
        description: 'The unique identifier of an account. When accountId is supplied, customerId must be omitted.'
        maxLength: 15
        minLength: 15
      filingPeriod: 
        type: string
        format: date
        description: 'An optional filter to retrieve the data set for inclusive filing periods beginning at a date. Note: INC balance dates are filed 31 March. Only accountId can be used in conjuction with this filter.'
        maxLength: 10
      filingPeriodFrom: 
        type: string
        format: date
        description: 'An optional filter to retrieve the data set for inclusive filing periods beginning at a date. Note: INC balance dates are filed 31 March. Only accountId can be used in conjuction with this filter.'
        maxLength: 10
      filingPeriodTo: 
        type: string
        format: date
        description: An optional filter to retrieve the data set for filing periods ending at a date. Only accountId can be used in conjuction with this filter.
        maxLength: 10
      outstandingPeriodOnly: 
        type: boolean
        description: 'An optional filter to include only outstanding periods with non-zero balance. Only accountId can be used in conjuction with this filter.'
  summary_POST_Request: 
    type: object
    required: []
    properties: 
      clientListId: 
        type: string
        description: 'Unique identifier of a tax preparer''s client list. This can be used to retrieve the summary of all clients linked to a particular client list. When clientListId is supplied, customerId and accountId must be omitted.'
        maxLength: 9
        minLength: 7
      customerId: 
        type: string
        description: 'The unique identifier of a customer. This can be used to retrieve the summary of all accounts belonging to the specified customer. When customerId is supplied, clientListId and accountId must be omitted.'
        maxLength: 9
        minLength: 9
      accountId: 
        type: string
        description: 'The unique identifier of an account. This can be used to retrieve the summary of an account. When accountId is supplied, clientListId and customerId must be omitted.'
        maxLength: 15
        minLength: 15
      filingPeriodFrom: 
        type: string
        format: date
        description: 'An optional filter to retrieve the summary for inclusive filing periods beginning at a date. Note: INC balance dates are filed 31 March.'
        maxLength: 10
      filingPeriodTo: 
        type: string
        format: date
        description: An optional filter to retrieve the summary for filing periods ending at a date.
        maxLength: 10
      accountType: 
        type: string
        description: 'An optional filter to retrieve the summary for a specific account type only.<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>AIL</td><td>Approved issuer levy</td></tr><tr><td>BPA</td><td>Multi payment option</td></tr><tr><td>DWT</td><td>Dividend withholding tax</td></tr><tr><td>FAM</td><td>Working for Families</td></tr><tr><td>FBT</td><td>FBT</td></tr><tr><td>GMD</td><td>Gaming machine duty</td></tr><tr><td>GSD</td><td>GST satisfaction of debt</td></tr><tr><td>GST</td><td>GST</td></tr><tr><td>IPS</td><td>RWT on interest</td></tr><tr><td>NRT</td><td>Non-resident withholding tax</td></tr><tr><td>PIE</td><td>Portfolio investment entity</td></tr><tr><td>REB</td><td>Donation tax credit</td></tr><tr><td>RLT</td><td>Residential land withholding tax</td></tr><tr><td>RWT</td><td>Resident withholding tax</td></tr><tr><td>SLS</td><td>Student loan</td></tr><tr><td>TPA</td><td>Tax Pooling account</td></tr><tr><td>INC</td><td>Income Tax</td></tr></tbody></table>'
        maxLength: 3
        minLength: 3
        enum: 
          - AIL
          - BPA
          - DWT
          - FAM
          - FBT
          - GMD
          - GSD
          - GST
          - IPS
          - NRT
          - PIE
          - REB
          - RLT
          - RWT
          - SLS
          - TPA
          - INC
  transactions_batch_POST_Request: 
    type: object
    required: 
      - accountId
      - filingPeriod
    properties: 
      accountId: 
        type: string
        description: The unique identifier of an account. This can be used to retrieve the summary of an account.
        maxLength: 15
        minLength: 15
      filingPeriod: 
        type: string
        format: date
        description: 'The filing period to retrieve the summary for inclusive filing periods beginning at a date. Note: INC balance dates are filed 31 March.'
      postedFrom: 
        type: string
        format: date
        description: An optional filter to retrieve transactions from this particular posted date.
      postedTo: 
        type: string
        format: date
        description: An optional filter to retrieve transactions up to this particular posted date.
  transactions_realtime_POST_Request: 
    type: object
    required: 
      - accountId
      - filingPeriod
    properties: 
      accountId: 
        type: string
        description: The unique identifier of an account. This can be used to retrieve the summary of an account.
        maxLength: 15
        minLength: 15
      filingPeriod: 
        type: string
        format: date
        description: 'The filing period to retrieve the summary for inclusive filing periods beginning at a date. Note: INC balance dates are filed 31 March.'
      postedFrom: 
        type: string
        format: date
        description: An optional filter to retrieve transactions from this particular posted date.
      postedTo: 
        type: string
        format: date
        description: An optional filter to retrieve transactions up to this particular posted date.
  financials_POST_Response200: 
    type: object
    required: []
    properties: 
      customer: 
        type: array
        items: 
          type: object
          description: Data object representing customer
          required: 
            - customerId
          properties: 
            customerId: 
              type: string
              description: Unique identifer of a customer
            account: 
              type: array
              items: 
                type: object
                description: Data object representing an account
                required: 
                  - accountId
                  - accountForecastedBalance
                properties: 
                  accountId: 
                    type: string
                    description: Unique identifer of an account
                  accountType: 
                    type: string
                    description: 'An optional filter to retrieve the summary for a specific account type only.<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>AIL</td><td>Approved issuer levy</td></tr><tr><td>BPA</td><td>Multi payment option</td></tr><tr><td>DWT</td><td>Dividend withholding tax</td></tr><tr><td>FAM</td><td>Working for Families</td></tr><tr><td>FBT</td><td>FBT</td></tr><tr><td>GMD</td><td>Gaming machine duty</td></tr><tr><td>GSD</td><td>GST satisfaction of debt</td></tr><tr><td>GST</td><td>GST</td></tr><tr><td>IPS</td><td>RWT on interest</td></tr><tr><td>NRT</td><td>Non-resident withholding tax</td></tr><tr><td>PIE</td><td>Portfolio investment entity</td></tr><tr><td>REB</td><td>Donation tax credit</td></tr><tr><td>RLT</td><td>Residential land withholding tax</td></tr><tr><td>RWT</td><td>Resident withholding tax</td></tr><tr><td>SLS</td><td>Student loan</td></tr><tr><td>TPA</td><td>Tax Pooling account</td></tr><tr><td>INC</td><td>Income Tax</td></tr></tbody></table>'
                    maxLength: 3
                    minLength: 3
                    enum: 
                      - AIL
                      - BPA
                      - DWT
                      - FAM
                      - FBT
                      - GMD
                      - GSD
                      - GST
                      - IPS
                      - NRT
                      - PIE
                      - REB
                      - RLT
                      - RWT
                      - SLS
                      - TPA
                      - INC
                  accountForecastedBalance: 
                    type: number
                    description: Account forecasted balance
                  period: 
                    type: array
                    items: 
                      type: object
                      description: Data object representing a filing period
                      required: 
                        - filingPeriod
                        - tax
                        - penalty
                        - penaltyForecasted
                        - interest
                        - interestForecasted
                        - other
                        - otherForecasted
                        - credit
                        - creditForecasted
                        - balance
                        - balanceForecasted
                      properties: 
                        filingPeriod: 
                          type: string
                          format: date
                          description: Filing period
                        tax: 
                          type: number
                          description: Balance of a filing period
                        penalty: 
                          type: number
                          description: Penalty
                        penaltyForecasted: 
                          type: number
                          description: Penalty Forecasted
                        interest: 
                          type: number
                          description: Interest
                        interestForecasted: 
                          type: number
                          description: Interest Forecasted
                        other: 
                          type: number
                          description: Other
                        otherForecasted: 
                          type: number
                          description: Other Forecasted
                        credit: 
                          type: number
                          description: Credit
                        creditForecasted: 
                          type: number
                          description: Credit Forecasted
                        balance: 
                          type: number
                          description: Balance
                        balanceForecasted: 
                          type: number
                          description: Balance Forecasted
                        lastPeriodActivity: 
                          type: string
                          format: date
                          description: The most recent date when there is a financial activity occurs for this filing period. This is omitted when there is no activity.
  financials_POST_Response400: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS101</td><td>Request does not meet defined specifications.</td></tr><tr><td>TDS102</td><td>Input parameter does not meet requirement.</td></tr><tr><td>TDS202</td><td>Authentication failure.</td></tr><tr><td>TDS203</td><td>Authentication failure due to missing token</td></tr><tr><td>TDS204</td><td>Authentication failure due to invalid token</td></tr><tr><td>TDS205</td><td>Authentication failure due to missing authentication header</td></tr><tr><td>TDS206</td><td>Unknown authentication failure.</td></tr><tr><td>TDS301</td><td>Invalid Id</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS101
                - TDS102
                - TDS202
                - TDS203
                - TDS204
                - TDS205
                - TDS206
                - TDS301
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - result
                - security
                - validation
            message: 
              type: string
              description: Error Message
  financials_POST_Response401: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS200</td><td>Insufficient access for the requested client list or customer.</td></tr><tr><td>TDS201</td><td>The requester is not eligible for this service.</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS200
                - TDS201
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - security
            message: 
              type: string
              description: Error Message
  financials_POST_ResponseDefault: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS101</td><td>Request does not meet defined specifications.</td></tr><tr><td>TDS102</td><td>Input parameter does not meet requirement.</td></tr><tr><td>TDS202</td><td>Authentication failure.</td></tr><tr><td>TDS203</td><td>Authentication failure due to missing token</td></tr><tr><td>TDS204</td><td>Authentication failure due to invalid token</td></tr><tr><td>TDS205</td><td>Authentication failure due to missing authentication header</td></tr><tr><td>TDS206</td><td>Unknown authentication failure.</td></tr><tr><td>TDS301</td><td>Invalid Id</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS101
                - TDS102
                - TDS202
                - TDS203
                - TDS204
                - TDS205
                - TDS206
                - TDS301
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - result
                - security
                - validation
            message: 
              type: string
              description: Error Message
  summary_POST_Response200: 
    type: object
    required: 
      - periodCount
    properties: 
      periodCount: 
        type: number
        format: int32
        description: The number periods included in the response.
      customer: 
        type: array
        items: 
          type: object
          description: Data object representing a customer
          required: 
            - customerId
          properties: 
            customerId: 
              type: string
              description: Unique identifer of a customer
            account: 
              type: array
              items: 
                type: object
                description: Data object representing an account
                required: 
                  - accountId
                  - accountType
                  - accountForecastedBalance
                properties: 
                  accountId: 
                    type: string
                    description: Unique identifer of an account
                  accountType: 
                    type: string
                    description: 'An optional filter to retrieve the summary for a specific account type only.<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>AIL</td><td>Approved issuer levy</td></tr><tr><td>BPA</td><td>Multi payment option</td></tr><tr><td>DWT</td><td>Dividend withholding tax</td></tr><tr><td>FAM</td><td>Working for Families</td></tr><tr><td>FBT</td><td>FBT</td></tr><tr><td>GMD</td><td>Gaming machine duty</td></tr><tr><td>GSD</td><td>GST satisfaction of debt</td></tr><tr><td>GST</td><td>GST</td></tr><tr><td>IPS</td><td>RWT on interest</td></tr><tr><td>NRT</td><td>Non-resident withholding tax</td></tr><tr><td>PIE</td><td>Portfolio investment entity</td></tr><tr><td>REB</td><td>Donation tax credit</td></tr><tr><td>RLT</td><td>Residential land withholding tax</td></tr><tr><td>RWT</td><td>Resident withholding tax</td></tr><tr><td>SLS</td><td>Student loan</td></tr><tr><td>TPA</td><td>Tax Pooling account</td></tr><tr><td>INC</td><td>Income Tax</td></tr></tbody></table>'
                    enum: 
                      - AIL
                      - BPA
                      - DWT
                      - FAM
                      - FBT
                      - GMD
                      - GSD
                      - GST
                      - IPS
                      - NRT
                      - PIE
                      - REB
                      - RLT
                      - RWT
                      - SLS
                      - TPA
                      - INC
                  accountForecastedBalance: 
                    type: number
                    description: Account forecasted balance
                  period: 
                    type: array
                    items: 
                      type: object
                      description: Data object representing a filing period
                      required: 
                        - filingPeriod
                        - periodBalance
                        - transactionCount
                      properties: 
                        filingPeriod: 
                          type: string
                          format: date
                          description: Filing period
                        periodBalance: 
                          type: number
                          description: Balance of a filing period
                        periodForecastedBalance: 
                          type: number
                          description: Forecasted balance of a filing period
                        transactionCount: 
                          type: number
                          format: int32
                          description: Number of transactions contained within a filing period
  summary_POST_Response400: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS101</td><td>Request does not meet defined specifications.</td></tr><tr><td>TDS102</td><td>Input parameter does not meet requirement.</td></tr><tr><td>TDS301</td><td>Invalid Id</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS101
                - TDS102
                - TDS301
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - result
                - validation
            message: 
              type: string
              description: Error Message
  summary_POST_Response401: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS200</td><td>Insufficient access for the requested client list or customer.</td></tr><tr><td>TDS201</td><td>The requester is not eligible for this service.</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS200
                - TDS201
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - security
            message: 
              type: string
              description: Error Message
  summary_POST_ResponseDefault: 
    type: object
    required: 
      - errors
    properties: 
      errors: 
        type: array
        description: Validation array
        items: 
          type: object
          description: Errors Object
          required: 
            - code
            - type
            - message
          properties: 
            code: 
              type: string
              description: 'Error code for validation, security, or server type responses.<br><br><table><tbody><tr><th>code</th><th>description</th></tr><tr><td>TDS101</td><td>Request does not meet defined specifications.</td></tr><tr><td>TDS102</td><td>Input parameter does not meet requirement.</td></tr><tr><td>TDS301</td><td>Invalid Id</td></tr></tbody></table>'
              maxLength: 6
              enum: 
                - TDS101
                - TDS102
                - TDS301
            type: 
              type: string
              description: Type of validation code returned
              enum: 
                - result
                - validation
            message: 
              type: string
              description: Error Message
  summary_GET_Response200: 
    type: object
    required: 
      - tdsStarted
      - tdsLastUpdated
    properties: 
      tdsStarted: 
        type: string
        format: 'date-time'
        description: When TDS process started
      tdsLastUpdated: 
        type: string
        format: 'date-time'
        description: When TDS data last updated
  summary_GET_Response401: 
    type: string
    description: Unauthorized
  summary_GET_ResponseDefault: 
    type: object
    required: 
      - tdsStarted
      - tdsLastUpdated
    properties: 
      tdsStarted: 
        type: string
        format: 'date-time'
        description: When TDS process started
      tdsLastUpdated: 
        type: string
        format: 'date-time'
        description: When TDS data last updated
  transactions_batch_POST_Response200: 
    type: object
    required: 
      - filingPeriod
      - periodBegin
      - periodEnd
      - tax
      - penalty
      - penaltyForecasted
      - interest
      - interestForecasted
      - other
      - otherForecasted
      - credit
      - creditForecasted
      - balance
      - balanceForecasted
    properties: 
      filingPeriod: 
        type: string
        format: date
        description: Filing period
      periodBegin: 
        type: string
        format: date
        description: Filing period begin
      periodEnd: 
        type: string
        format: date
        description: Filing period end
      tax: 
        type: number
        description: Tax
      penalty: 
        type: number
        description: Penalty
      penaltyForecasted: 
        type: number
        description: Penalty Forecasted
      interest: 
        type: number
        description: Interest
      interestForecasted: 
        type: number
        description: Interest Forecasted
      other: 
        type: number
        description: Other
      otherForecasted: 
        type: number
        description: Other Forecasted
      credit: 
        type: number
        description: Credit
      creditForecasted: 
        type: number
        description: Credit Forecasted
      balance: 
        type: number
        description: Balance
      balanceForecasted: 
        type: number
        description: Balance Forecasted
      lastPeriodActivity: 
        type: string
        format: date
        description: 'The most recent date when there is a financial activity occurs for this filing period. When omitted, this means there is no financial activity ever occured for this filing period. This is omitted when there is no activity.'
      billItems: 
        type: array
        items: 
          type: object
          description: Data object representing bill items
          required: 
            - id
            - dueDate
            - tax
            - penalty
            - penaltyForecasted
            - interest
            - interestForecasted
            - other
            - otherForecasted
            - credit
            - creditForecasted
            - balance
            - balanceForecasted
          properties: 
            id: 
              type: string
              description: Bill item Id
            dueDate: 
              type: string
              format: date
              description: Bill item due date
            tax: 
              type: number
              description: Balance of a filing period
            penalty: 
              type: number
              description: Penalty
            penaltyForecasted: 
              type: number
              description: Penalty Forecasted
            interest: 
              type: number
              description: Interest
            interestForecasted: 
              type: number
              description: Interest Forecasted
            other: 
              type: number
              description: Other
            otherForecasted: 
              type: number
              description: Other Forecasted
            credit: 
              type: number
              description: Credit
            creditForecasted: 
              type: number
              description: Credit Forecasted
            balance: 
              type: number
              description: Balance
            balanceForecasted: 
              type: number
              description: Balance Forecasted
            transactions: 
              type: array
              items: 
                type: object
                description: Data object representing transactions
                required: 
                  - transactionId
                  - transType
                  - postedDate
                  - effectiveDate
                  - amount
                  - linkedTransactionId
                properties: 
                  transactionId: 
                    type: string
                    description: Transaction Id
                  transType: 
                    type: string
                    description: 'Transaction types<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>ADJAWO</td><td>Write-off</td></tr><tr><td>ADJFIT</td><td>Adjustment, credit</td></tr><tr><td>ADJIWD</td><td>International adjustment, credit</td></tr><tr><td>ADJMDO</td><td>Debt offset</td></tr><tr><td>ADJMPC</td><td>Adjustment</td></tr><tr><td>ADJMPD</td><td>Adjustment</td></tr><tr><td>ADJPWV</td><td>Payment waiver adjustment</td></tr><tr><td>ADJRLT</td><td>Adjustment, credit</td></tr><tr><td>ADJRPR</td><td>Reparation offset</td></tr><tr><td>ADJSBA</td><td>Small balance offset</td></tr><tr><td>ADJSUS</td><td>Write-off</td></tr><tr><td>ADJUPL</td><td>Uplift of debt write off</td></tr><tr><td>ADJWOC</td><td>Write-off</td></tr><tr><td>ADJXMT</td><td>Write-off</td></tr><tr><td>ADSOTC</td><td>Audit settlement offset</td></tr><tr><td>AIMDBT</td><td>Shareholder offset</td></tr><tr><td>AUDCSE</td><td>Child support deductions audit assessment</td></tr><tr><td>AUDDPC</td><td>Audit dispute</td></tr><tr><td>AUDDPD</td><td>Audit dispute</td></tr><tr><td>AUDFOR</td><td>Audit assessment</td></tr><tr><td>AUDKSE</td><td>KiwiSaver employee deductions audit assessment</td></tr><tr><td>AUDKSR</td><td>KiwiSaver employer contributions audit assessment</td></tr><tr><td>AUDPAY</td><td>PAYE deductions audit assessment</td></tr><tr><td>AUDSLE</td><td>Student loan deductions audit assessment</td></tr><tr><td>AUDSSC</td><td>Superannuation contribution tax audit assessment</td></tr><tr><td>AUDTXC</td><td>Audit assessment</td></tr><tr><td>AUDTXD</td><td>Audit assessment</td></tr><tr><td>BALCLS</td><td>Closing balance</td></tr><tr><td>BALOPN</td><td>Opening balance</td></tr><tr><td>BENDLT</td><td>Benefit adjustment</td></tr><tr><td>BPAXFB</td><td>Transfer in</td></tr><tr><td>BPAXFO</td><td>Transfer out</td></tr><tr><td>BPAXFR</td><td>Transfer in</td></tr><tr><td>CLMCRD</td><td>Claim credit</td></tr><tr><td>CNVADM</td><td>Administration fee</td></tr><tr><td>CNVAJC</td><td>Adjustment</td></tr><tr><td>CNVAJD</td><td>Adjustment</td></tr><tr><td>CNVAMP</td><td>Amnesty penalty</td></tr><tr><td>CNVARC</td><td>Adjustment, credit</td></tr><tr><td>CNVARD</td><td>Assessment</td></tr><tr><td>CNVASC</td><td>Loan assessed</td></tr><tr><td>CNVCCD</td><td>Contribution created</td></tr><tr><td>CNVCPC</td><td>Capitalisation credit</td></tr><tr><td>CNVCPD</td><td>Capitalisation debit</td></tr><tr><td>CNVCRC</td><td>Court costs</td></tr><tr><td>CNVCRT</td><td>Court costs</td></tr><tr><td>CNVCRV</td><td>Contribution</td></tr><tr><td>CNVCSC</td><td>Child support deductions write-off</td></tr><tr><td>CNVCSD</td><td>Write-off</td></tr><tr><td>CNVCSE</td><td>Child support deductions</td></tr><tr><td>CNVCSO</td><td>Write-off</td></tr><tr><td>CNVDOD</td><td>Deferral of tax</td></tr><tr><td>CNVDOT</td><td>Deferral of tax</td></tr><tr><td>CNVDSB</td><td>Refund</td></tr><tr><td>CNVDTD</td><td>Deferral of tax due</td></tr><tr><td>CNVENT</td><td>Entitlement</td></tr><tr><td>CNVETC</td><td>Returned ETC, offset</td></tr><tr><td>CNVETD</td><td>Returned ETC</td></tr><tr><td>CNVEWH</td><td>Excess withholding credit</td></tr><tr><td>CNVIDC</td><td>Disbursement interest</td></tr><tr><td>CNVIMP</td><td>Imputation penalty</td></tr><tr><td>CNVINC</td><td>Use of money interest</td></tr><tr><td>CNVINT</td><td>Use of money interest</td></tr><tr><td>CNVIWC</td><td>Loan interest write-off</td></tr><tr><td>CNVIWD</td><td>Loan interest write-off</td></tr><tr><td>CNVKEC</td><td>KiwiSaver employee deductions write-off</td></tr><tr><td>CNVKED</td><td>Write-off</td></tr><tr><td>CNVKRC</td><td>KiwiSaver employer contributions write-off</td></tr><tr><td>CNVKRD</td><td>Write-off</td></tr><tr><td>CNVKSE</td><td>KiwiSaver employee deductions</td></tr><tr><td>CNVKSP</td><td>Payment</td></tr><tr><td>CNVKSR</td><td>KiwiSaver employer contributions</td></tr><tr><td>CNVKSU</td><td>Contribution</td></tr><tr><td>CNVKSV</td><td>Voluntary KiwiSaver employer contributions</td></tr><tr><td>CNVLIC</td><td>MSD interest</td></tr><tr><td>CNVLIN</td><td>Loan interest</td></tr><tr><td>CNVLTF</td><td>Late filing penalty</td></tr><tr><td>CNVMIC</td><td>MSD interest adjustment</td></tr><tr><td>CNVMID</td><td>MSD interest</td></tr><tr><td>CNVMSE</td><td>Entitlement</td></tr><tr><td>CNVNPP</td><td>Non-payment penalty</td></tr><tr><td>CNVOBB</td><td>Assessment</td></tr><tr><td>CNVOBC</td><td>Opening balance</td></tr><tr><td>CNVOBD</td><td>Opening balance</td></tr><tr><td>CNVOIC</td><td>Opening interest</td></tr><tr><td>CNVOID</td><td>Opening interest</td></tr><tr><td>CNVPAY</td><td>PAYE deductions</td></tr><tr><td>CNVPIN</td><td>Incremental penalty</td></tr><tr><td>CNVPLD</td><td>Paid Parental Leave Entitlement Debit</td></tr><tr><td>CNVPLF</td><td>Late filing penalty</td></tr><tr><td>CNVPNL</td><td>Penalty</td></tr><tr><td>CNVPRV</td><td>Assessment</td></tr><tr><td>CNVPWC</td><td>Write-off</td></tr><tr><td>CNVPYC</td><td>PAYE write-off</td></tr><tr><td>CNVPYD</td><td>Write-off</td></tr><tr><td>CNVPYM</td><td>Payment</td></tr><tr><td>CNVRCC</td><td>Conversion credit</td></tr><tr><td>CNVRCD</td><td>Conversion debit</td></tr><tr><td>CNVREC</td><td>Loan recalled, credit</td></tr><tr><td>CNVRED</td><td>Loan recalled, debit</td></tr><tr><td>CNVRID</td><td>Interest remission</td></tr><tr><td>CNVRIN</td><td>Interest remission</td></tr><tr><td>CNVRIP</td><td>Imputation penalty remission</td></tr><tr><td>CNVRLF</td><td>Late file penalty remission</td></tr><tr><td>CNVRPF</td><td>Late file penalty remission</td></tr><tr><td>CNVRPL</td><td>Penalty remission</td></tr><tr><td>CNVRPN</td><td>Penalty remission</td></tr><tr><td>CNVRPP</td><td>Penalty remission</td></tr><tr><td>CNVRSD</td><td>Refund</td></tr><tr><td>CNVRTC</td><td>Returned credit</td></tr><tr><td>CNVRTD</td><td>Returned contribution</td></tr><tr><td>CNVRVD</td><td>Reversal debit</td></tr><tr><td>CNVSBD</td><td>Small balance offset</td></tr><tr><td>CNVSBO</td><td>Small balance offset</td></tr><tr><td>CNVSCC</td><td>Superannuation contribution tax write-off</td></tr><tr><td>CNVSCD</td><td>Write-off</td></tr><tr><td>CNVSEC</td><td>Student loan deductions write-off</td></tr><tr><td>CNVSED</td><td>Write-off</td></tr><tr><td>CNVSHR</td><td>Shortfall penalty</td></tr><tr><td>CNVSLC</td><td>MSD principal</td></tr><tr><td>CNVSLD</td><td>MSD principal</td></tr><tr><td>CNVSLE</td><td>Student loan deductions</td></tr><tr><td>CNVSOL</td><td>Solicitor''s fee</td></tr><tr><td>CNVSPT</td><td>Special tax</td></tr><tr><td>CNVSSC</td><td>Superannuation contribution tax</td></tr><tr><td>CNVTBR</td><td>Time bar offset</td></tr><tr><td>CNVTPD</td><td>Tax pool credit</td></tr><tr><td>CNVTXC</td><td>Assessment</td></tr><tr><td>CNVTXD</td><td>Assessment</td></tr><tr><td>CNVUPC</td><td>Write-off</td></tr><tr><td>CNVURC</td><td>Credit unreturned, offset</td></tr><tr><td>CNVURD</td><td>Credit unreturned</td></tr><tr><td>CNVVCO</td><td>Contribution offset</td></tr><tr><td>CNVVRB</td><td>Voluntary repayment bonus</td></tr><tr><td>CNVWCM</td><td>Write-off</td></tr><tr><td>CNVWOC</td><td>Write-off</td></tr><tr><td>CNVWOD</td><td>Write-off</td></tr><tr><td>CNVWSC</td><td>Write-off</td></tr><tr><td>CNVWSD</td><td>Write-off</td></tr><tr><td>CNVWTH</td><td>Tax withheld</td></tr><tr><td>CNVXFI</td><td>Transfer in</td></tr><tr><td>CNVXFO</td><td>Transfer out</td></tr><tr><td>COLDSB</td><td>Cost of living payment</td></tr><tr><td>CPRBNO</td><td>Entitlement adjustment</td></tr><tr><td>CPRDLT</td><td>Entitlement adjustment</td></tr><tr><td>CRDEWH</td><td>Excess withholding credit</td></tr><tr><td>CRDNTE</td><td>GST credit note</td></tr><tr><td>CSEAMR</td><td>Amended child support deductions</td></tr><tr><td>CSECRD</td><td>Entitlement credit</td></tr><tr><td>CSEDAA</td><td>Child support default assessment amendment</td></tr><tr><td>CSEDAD</td><td>Child support default assessment</td></tr><tr><td>CSEDEC</td><td>Payment received through your employer</td></tr><tr><td>CSEDED</td><td>Child support debt deduction</td></tr><tr><td>CSEDRA</td><td>Reassessment</td></tr><tr><td>CSEDRO</td><td>Assessment</td></tr><tr><td>CSEICC</td><td>International entitlement credit</td></tr><tr><td>CSEORI</td><td>Child support deductions</td></tr><tr><td>CSLDRO</td><td>Lump sum assessment</td></tr><tr><td>CSLICS</td><td>International child support lump sum</td></tr><tr><td>CSLIDM</td><td>International domestic maintenance lump sum</td></tr><tr><td>CSMDRA</td><td>Domestic maintenance reassessment</td></tr><tr><td>CSMDRO</td><td>Domestic maintenance assessment</td></tr><tr><td>CSPDSB</td><td>COVID-19 Support Payment</td></tr><tr><td>CSPRPR</td><td>COVID-19 Support Payment</td></tr><tr><td>DSBCBD</td><td>International refund</td></tr><tr><td>DSBCHQ</td><td>Cheque refund</td></tr><tr><td>DSBDIR</td><td>Direct credit refund</td></tr><tr><td>DSBIAC</td><td>International ACH refund</td></tr><tr><td>DSBIBD</td><td>International refund</td></tr><tr><td>DSBSEP</td><td>SEPA refund</td></tr><tr><td>DSBTTR</td><td>Telegraphic transfer refund</td></tr><tr><td>DSIMNL</td><td>Transfer in</td></tr><tr><td>DSOMNL</td><td>Transfer out</td></tr><tr><td>DSXCPR</td><td>Credit transferred to child support - receiving carer</td></tr><tr><td>DSXCSE</td><td>Credit transferred to child support - employer deduction</td></tr><tr><td>DSXFAM</td><td>Credit transferred to Working for Families Tax Credits</td></tr><tr><td>DSXFIR</td><td>Credit transferred to other IR system</td></tr><tr><td>DSXICA</td><td>Credit transferred to imputation credit account</td></tr><tr><td>DSXINC</td><td>Credit transferred to income tax</td></tr><tr><td>DSXKSE</td><td>Credit transferred to KiwiSaver employee deductions</td></tr><tr><td>DSXKSR</td><td>Credit transferred to KiwiSaver employer contributions</td></tr><tr><td>DSXKSS</td><td>Credit transferred to KiwiSaver voluntary contributions</td></tr><tr><td>DSXMAC</td><td>Credit transferred to Māori authority credit account</td></tr><tr><td>DSXNCP</td><td>Credit transferred to child support - liable parent</td></tr><tr><td>DSXPAY</td><td>Credit transferred to PAYE</td></tr><tr><td>DSXPRV</td><td>Credit transferred to provisional tax</td></tr><tr><td>DSXQCT</td><td>Credit transferred to qualifying company election tax</td></tr><tr><td>DSXREB</td><td>Credit transferred to donation tax credit</td></tr><tr><td>DSXSHR</td><td>Credit transferred to shareholder premium</td></tr><tr><td>DSXSLE</td><td>Credit transferred to student loan- employer deductions</td></tr><tr><td>DSXSLS</td><td>Credit transferred to student loan</td></tr><tr><td>DSXSSC</td><td>Credit transferred to employer superannuation contribution tax</td></tr><tr><td>DSXWPE</td><td>Credit transferred to foreign dividend withholding - elected</td></tr><tr><td>DSXWPN</td><td>Credit transferred to foreign dividend withholding - non-elected</td></tr><tr><td>EXGCRC</td><td>Ex gratia credit</td></tr><tr><td>FAMCRD</td><td>Working for Families Tax Credit</td></tr><tr><td>FAMSQA</td><td>Amended end of year assessment</td></tr><tr><td>FAMSQC</td><td>End of year assessment</td></tr><tr><td>FAMSQD</td><td>End of year assessment</td></tr><tr><td>FEEADM</td><td>Administration fee</td></tr><tr><td>FEEAPP</td><td>Application fee</td></tr><tr><td>FEECCC</td><td>Court awarded costs</td></tr><tr><td>FEECCD</td><td>Court awarded costs</td></tr><tr><td>FEEDMG</td><td>Damages and restitution costs</td></tr><tr><td>FEEDSB</td><td>Legal disbursements</td></tr><tr><td>FEEEXT</td><td>External costs</td></tr><tr><td>FEEGST</td><td>Goods and service tax</td></tr><tr><td>FEELQD</td><td>Liquidation costs</td></tr><tr><td>FEESEC</td><td>Security fee</td></tr><tr><td>FEESOL</td><td>Solicitor''s costs</td></tr><tr><td>FEESPR</td><td>Ruling fee</td></tr><tr><td>FEESVC</td><td>Services provided</td></tr><tr><td>FORINT</td><td>Use of money interest</td></tr><tr><td>FOROTH</td><td>Other transaction</td></tr><tr><td>FORPNL</td><td>Penalty</td></tr><tr><td>FRSCRD</td><td>Credit transferred from other IR system</td></tr><tr><td>FRSRTC</td><td>Conversion credit</td></tr><tr><td>FTRREG</td><td>Registration fee</td></tr><tr><td>FTRRTN</td><td>Annual fee</td></tr><tr><td>FWDAIL</td><td>Transfer out</td></tr><tr><td>FWDAIP</td><td>Transfer out</td></tr><tr><td>FWDCAD</td><td>Transfer out</td></tr><tr><td>FWDCOL</td><td>Transfer out</td></tr><tr><td>FWDCPR</td><td>Transfer out</td></tr><tr><td>FWDCRS</td><td>Transfer out</td></tr><tr><td>FWDCSC</td><td>Transfer out</td></tr><tr><td>FWDCSP</td><td>Transfer out</td></tr><tr><td>FWDDWT</td><td>Transfer out</td></tr><tr><td>FWDEQU</td><td>Transfer out</td></tr><tr><td>FWDERA</td><td>Transfer out</td></tr><tr><td>FWDFAM</td><td>Transfer out</td></tr><tr><td>FWDFBT</td><td>Transfer out</td></tr><tr><td>FWDFTR</td><td>Transfer out</td></tr><tr><td>FWDGMD</td><td>Transfer out</td></tr><tr><td>FWDGSD</td><td>Transfer out</td></tr><tr><td>FWDGST</td><td>Transfer out</td></tr><tr><td>FWDIIT</td><td>Transfer out</td></tr><tr><td>FWDIPE</td><td>Transfer out</td></tr><tr><td>FWDIPS</td><td>Transfer out</td></tr><tr><td>FWDITN</td><td>Transfer out</td></tr><tr><td>FWDLGL</td><td>Transfer out</td></tr><tr><td>FWDLOD</td><td>Transfer out</td></tr><tr><td>FWDNCP</td><td>Transfer out</td></tr><tr><td>FWDNRT</td><td>Transfer out</td></tr><tr><td>FWDPIE</td><td>Transfer out</td></tr><tr><td>FWDPPL</td><td>Transfer out</td></tr><tr><td>FWDPRS</td><td>Transfer out</td></tr><tr><td>FWDPSO</td><td>Transfer out</td></tr><tr><td>FWDREB</td><td>Transfer out</td></tr><tr><td>FWDRLT</td><td>Transfer out</td></tr><tr><td>FWDRUL</td><td>Transfer out</td></tr><tr><td>FWDRWT</td><td>Transfer out</td></tr><tr><td>FWDSBC</td><td>Transfer out</td></tr><tr><td>FWDSLS</td><td>Transfer out</td></tr><tr><td>FWDTOD</td><td>Transfer out</td></tr><tr><td>FWDUCM</td><td>Transfer out</td></tr><tr><td>FWDUCO</td><td>Transfer out</td></tr><tr><td>GLDCRD</td><td>GL disbursement credit</td></tr><tr><td>INTCLS</td><td>Closing interest</td></tr><tr><td>INTCRD</td><td>Use of money interest</td></tr><tr><td>INTLON</td><td>Loan interest</td></tr><tr><td>INTMNC</td><td>Use of money interest</td></tr><tr><td>INTMND</td><td>Use of money interest</td></tr><tr><td>INTOPN</td><td>Opening interest</td></tr><tr><td>INTRFN</td><td>Disbursement interest</td></tr><tr><td>INTSTD</td><td>Use of money interest</td></tr><tr><td>INTTPA</td><td>Use of money interest</td></tr><tr><td>INTWSC</td><td>Use of money interest</td></tr><tr><td>INTWSD</td><td>Use of money interest</td></tr><tr><td>INTWTH</td><td>Tax withheld on credit interest</td></tr><tr><td>KSEAMR</td><td>Amended KiwiSaver employee deductions</td></tr><tr><td>KSEDAA</td><td>Amended KiwiSaver employee default assessment</td></tr><tr><td>KSEDAD</td><td>KiwiSaver employee default assessment</td></tr><tr><td>KSEORI</td><td>KiwiSaver employee deductions</td></tr><tr><td>KSFCCR</td><td>Contribution credit</td></tr><tr><td>KSFOUD</td><td>Unreturned contribution</td></tr><tr><td>KSFPOF</td><td>Payment offset</td></tr><tr><td>KSFUCD</td><td>Unreturned contribution</td></tr><tr><td>KSRAMR</td><td>Amended KiwiSaver employer contributions</td></tr><tr><td>KSRCRV</td><td>Contribution</td></tr><tr><td>KSRDAA</td><td>KiwiSaver employer contributions default assessment amendment</td></tr><tr><td>KSRDAD</td><td>KiwiSaver employer contributions default assessment</td></tr><tr><td>KSRORI</td><td>KiwiSaver employer contributions</td></tr><tr><td>KSRSUM</td><td>Lump sum contribution credit</td></tr><tr><td>KSSCRV</td><td>Contribution</td></tr><tr><td>KSSDPS</td><td>Voluntary transfer to KSS</td></tr><tr><td>KSSGRV</td><td>Contribution</td></tr><tr><td>KSSRCV</td><td>Voluntary transfer in</td></tr><tr><td>KSSRRD</td><td>Amended contribution debit</td></tr><tr><td>KSSSUM</td><td>Lump sum contribution credit</td></tr><tr><td>KSSUCM</td><td>Transfer from unassociated contribution</td></tr><tr><td>KSSVCR</td><td>Contribution</td></tr><tr><td>KSSXFI</td><td>Contribution to Voluntary credit</td></tr><tr><td>KSSXFO</td><td>Contribution to Voluntary debit</td></tr><tr><td>KSVAMR</td><td>Amended voluntary KiwiSaver employer contributions</td></tr><tr><td>KSVORI</td><td>Voluntary KiwiSaver employer contributions</td></tr><tr><td>LCKCRV</td><td>Locked contribution credit</td></tr><tr><td>LCKKSS</td><td>KiwiSaver payment held</td></tr><tr><td>LCKTPA</td><td>Deposit offset</td></tr><tr><td>LFPEV1</td><td>Late filing penalty evaluation</td></tr><tr><td>LFPEV2</td><td>Late filing penalty evaluation</td></tr><tr><td>LONEVL</td><td>Loan evaluation</td></tr><tr><td>MANWTH</td><td>Tax withheld on credit interest</td></tr><tr><td>MNLEXG</td><td>Ex gratia credit</td></tr><tr><td>MNLLTF</td><td>Late filing penalty</td></tr><tr><td>MNLTXC</td><td>Assessment</td></tr><tr><td>MNLTXD</td><td>Assessment</td></tr><tr><td>MPOKSS</td><td>Transfer in</td></tr><tr><td>NCPDLT</td><td>Obligation adjustment</td></tr><tr><td>OFFBRP</td><td>Proceeds on bankruptcy</td></tr><tr><td>PAYAMR</td><td>Amended PAYE deductions</td></tr><tr><td>PAYDAA</td><td>PAYE deductions default assessment amendment</td></tr><tr><td>PAYDAD</td><td>PAYE deductions default assessment</td></tr><tr><td>PAYORI</td><td>PAYE deductions</td></tr><tr><td>PNLADT</td><td>Penalty</td></tr><tr><td>PNLBPS</td><td>BEPS penalty</td></tr><tr><td>PNLFPY</td><td>Failure to meet requirements</td></tr><tr><td>PNLFRC</td><td>Failure to take reasonable care</td></tr><tr><td>PNLIMP</td><td>Imputation penalty</td></tr><tr><td>PNLIPP</td><td>Information provider penalty</td></tr><tr><td>PNLLF1</td><td>Late filing penalty</td></tr><tr><td>PNLLF2</td><td>Late filing penalty</td></tr><tr><td>PNLLFE</td><td>Late filing penalty evaluation</td></tr><tr><td>PNLLFR</td><td>Late filing penalty</td></tr><tr><td>PNLLPI</td><td>Late payment interest</td></tr><tr><td>PNLLTF</td><td>Late filing penalty</td></tr><tr><td>PNLLTP</td><td>Late payment penalty</td></tr><tr><td>PNLMNL</td><td>Penalty</td></tr><tr><td>PNLNCP</td><td>Foreign exemption civil penalty</td></tr><tr><td>PNLNEL</td><td>Non-electronic filing penalty</td></tr><tr><td>PNLNPP</td><td>Non-payment penalty</td></tr><tr><td>PNLSHM</td><td>Shortfall penalty</td></tr><tr><td>PNLSHR</td><td>Shortfall penalty</td></tr><tr><td>PNLSSU</td><td>Electronic sales suppression penalty</td></tr><tr><td>PNLUND</td><td>Underestimation penalty</td></tr><tr><td>PNLWSD</td><td>Penalty</td></tr><tr><td>PPL</td><td>Instalment arrangement forecast</td></tr><tr><td>PPLCRD</td><td>Paid Parental Leave Entitlement Credit</td></tr><tr><td>PRTOTC</td><td>Deferral of tax in dispute offset</td></tr><tr><td>PRTOTD</td><td>Deferral of tax in dispute offset</td></tr><tr><td>PRVDBT</td><td>Instalment</td></tr><tr><td>PYMACC</td><td>Payment</td></tr><tr><td>PYMAUD</td><td>Payment</td></tr><tr><td>PYMBKD</td><td>Payment</td></tr><tr><td>PYMBLK</td><td>Payment</td></tr><tr><td>PYMBRP</td><td>Payment</td></tr><tr><td>PYMCOL</td><td>Payment</td></tr><tr><td>PYMCST</td><td>Payment</td></tr><tr><td>PYMEST</td><td>Payment</td></tr><tr><td>PYMKSS</td><td>Payment</td></tr><tr><td>PYMLCA</td><td>Payment held awaiting reassessment</td></tr><tr><td>PYMLCP</td><td>Payment held awaiting provisional instalment</td></tr><tr><td>PYMLCR</td><td>Payment held awaiting return</td></tr><tr><td>PYMPLN</td><td>Payment</td></tr><tr><td>PYMPRD</td><td>Payment</td></tr><tr><td>PYMRES</td><td>Deposit</td></tr><tr><td>PYMRTN</td><td>Payment</td></tr><tr><td>PYMTPA</td><td>Payment</td></tr><tr><td>RCVTPA</td><td>Transfer from tax pool</td></tr><tr><td>RCVTPO</td><td>Transfer from tax pool</td></tr><tr><td>RECAIL</td><td>Transfer in</td></tr><tr><td>RECAIP</td><td>Transfer in</td></tr><tr><td>RECCAD</td><td>Transfer in</td></tr><tr><td>RECCPR</td><td>Transfer in</td></tr><tr><td>RECCRS</td><td>Transfer in</td></tr><tr><td>RECCSC</td><td>Transfer in</td></tr><tr><td>RECDWT</td><td>Transfer in</td></tr><tr><td>RECEQU</td><td>Transfer in</td></tr><tr><td>RECERA</td><td>Transfer in</td></tr><tr><td>RECFAM</td><td>Transfer in</td></tr><tr><td>RECFBT</td><td>Transfer in</td></tr><tr><td>RECGMD</td><td>Transfer in</td></tr><tr><td>RECGSD</td><td>Transfer in</td></tr><tr><td>RECGST</td><td>Transfer in</td></tr><tr><td>RECIIT</td><td>Transfer in</td></tr><tr><td>RECIPE</td><td>Transfer in</td></tr><tr><td>RECIPS</td><td>Transfer in</td></tr><tr><td>RECITN</td><td>Transfer in</td></tr><tr><td>RECKSS</td><td>Transfer in</td></tr><tr><td>RECLGL</td><td>Transfer in</td></tr><tr><td>RECLOD</td><td>Transfer in</td></tr><tr><td>RECNCP</td><td>Transfer in</td></tr><tr><td>RECNRT</td><td>Transfer in</td></tr><tr><td>RECPIE</td><td>Transfer in</td></tr><tr><td>RECPPL</td><td>Transfer in</td></tr><tr><td>RECPRS</td><td>Transfer in</td></tr><tr><td>RECPSO</td><td>Transfer in</td></tr><tr><td>RECREB</td><td>Transfer in</td></tr><tr><td>RECRLT</td><td>Transfer in</td></tr><tr><td>RECRUL</td><td>Transfer in</td></tr><tr><td>RECRWT</td><td>Transfer in</td></tr><tr><td>RECSLS</td><td>Transfer in</td></tr><tr><td>RECTOD</td><td>Transfer in</td></tr><tr><td>RECUCM</td><td>Transfer in</td></tr><tr><td>RECUCO</td><td>Transfer in</td></tr><tr><td>RESFOR</td><td>Reserve Scheme forecast</td></tr><tr><td>RESWTH</td><td>Disbursement interest</td></tr><tr><td>REVCRD</td><td>Reverse credit transaction</td></tr><tr><td>REVINC</td><td>Reverse interest transaction</td></tr><tr><td>REVIND</td><td>Reverse interest transaction</td></tr><tr><td>REVOTC</td><td>Reverse other transaction</td></tr><tr><td>REVOTD</td><td>Reverse other transaction</td></tr><tr><td>REVPNC</td><td>Reverse penalty transaction</td></tr><tr><td>REVTXC</td><td>Reverse assessment transaction</td></tr><tr><td>REVTXD</td><td>Reverse assessment transaction</td></tr><tr><td>ROLCRD</td><td>Rolling credit</td></tr><tr><td>ROLDBT</td><td>Rolling debit</td></tr><tr><td>RSPDSB</td><td>Resurgence support payment</td></tr><tr><td>RSPFWD</td><td>Transfer out</td></tr><tr><td>RSPLOD</td><td>Resurgence support payment</td></tr><tr><td>RTNACR</td><td>AIM credit</td></tr><tr><td>RTNADR</td><td>AIM instalment</td></tr><tr><td>RTNAMA</td><td>Amended annual assessment</td></tr><tr><td>RTNAMI</td><td>Amended income year assessment</td></tr><tr><td>RTNAMR</td><td>Amended assessment</td></tr><tr><td>RTNANC</td><td>Annual assessment</td></tr><tr><td>RTNAND</td><td>Annual assessment</td></tr><tr><td>RTNCRD</td><td>Assessment</td></tr><tr><td>RTNDAA</td><td>Default assessment amendment</td></tr><tr><td>RTNDAC</td><td>Default assessment</td></tr><tr><td>RTNDAD</td><td>Default assessment</td></tr><tr><td>RTNDAP</td><td>Assessment</td></tr><tr><td>RTNDCM</td><td>Decommissioning tax credit</td></tr><tr><td>RTNEPC</td><td>Early payment discount</td></tr><tr><td>RTNF01</td><td>Return debit forecast</td></tr><tr><td>RTNF02</td><td>Return debit forecast</td></tr><tr><td>RTNF03</td><td>Return debit forecast</td></tr><tr><td>RTNFIT</td><td>Further income tax</td></tr><tr><td>RTNINC</td><td>Income year assessment</td></tr><tr><td>RTNIND</td><td>Income year assessment</td></tr><tr><td>RTNOBB</td><td>Assessment</td></tr><tr><td>RTNORI</td><td>Assessment</td></tr><tr><td>RTNPRV</td><td>Assessment</td></tr><tr><td>RTNRDC</td><td>R&D tax credit</td></tr><tr><td>RTNRDD</td><td>R&D repayment</td></tr><tr><td>SBCDSB</td><td>Small business cashflow</td></tr><tr><td>SBCLOD</td><td>Small business cashflow loan</td></tr><tr><td>SBOOTC</td><td>Small balance offset</td></tr><tr><td>SLEAMR</td><td>Amended student loan deductions</td></tr><tr><td>SLEDAA</td><td>Student loan deductions default assessment amendment</td></tr><tr><td>SLEDAD</td><td>Student loan deductions default assessment</td></tr><tr><td>SLEORI</td><td>Student loan deductions</td></tr><tr><td>SLSASC</td><td>Loan assessed</td></tr><tr><td>SLSCAD</td><td>Assessment capitalised</td></tr><tr><td>SLSCAP</td><td>Capitalisation credit</td></tr><tr><td>SLSCCC</td><td>Course related costs, refunded</td></tr><tr><td>SLSCCD</td><td>Course related costs</td></tr><tr><td>SLSDEC</td><td>Recovery deduction</td></tr><tr><td>SLSDED</td><td>Repayment deduction</td></tr><tr><td>SLSDEM</td><td>Standard deduction</td></tr><tr><td>SLSDEV</td><td>Voluntary deduction</td></tr><tr><td>SLSESC</td><td>Establishment fee credit</td></tr><tr><td>SLSESD</td><td>Establishment fee</td></tr><tr><td>SLSFEC</td><td>Compulsory course fee refunded</td></tr><tr><td>SLSFED</td><td>Compulsory course fee</td></tr><tr><td>SLSINC</td><td>Interest adjustment</td></tr><tr><td>SLSIND</td><td>MSD Interest</td></tr><tr><td>SLSLCC</td><td>Living costs credit</td></tr><tr><td>SLSLCD</td><td>Living costs</td></tr><tr><td>SLSMCC</td><td>Capitalisation credit</td></tr><tr><td>SLSMCD</td><td>Assessment capitalised</td></tr><tr><td>SLSMIC</td><td>MSD interest adjustment</td></tr><tr><td>SLSMID</td><td>MSD interest</td></tr><tr><td>SLSMLC</td><td>Loan principal, credit</td></tr><tr><td>SLSMLD</td><td>Loan principal</td></tr><tr><td>SLSMNC</td><td>Manual credit</td></tr><tr><td>SLSODC</td><td>Over-deduction credit</td></tr><tr><td>SLSODD</td><td>Loan over-deducted debit</td></tr><tr><td>SLSRCC</td><td>Loan recalled, credit</td></tr><tr><td>SLSRCD</td><td>Loan recalled, debit</td></tr><tr><td>SLSSAC</td><td>StudyLink adjustment, credit</td></tr><tr><td>SLSSAD</td><td>StudyLink adjustment</td></tr><tr><td>SLSSCC</td><td>Scholarship credit</td></tr><tr><td>SLSSCD</td><td>Scholarship breach</td></tr><tr><td>SLSSPC</td><td>StudyLink payment</td></tr><tr><td>SLSSPD</td><td>StudyLink disbursement</td></tr><tr><td>SLSUNC</td><td>Under deduction loan credit</td></tr><tr><td>SLSUND</td><td>Under deduction recovery</td></tr><tr><td>SLSXFI</td><td>SLS transfer in</td></tr><tr><td>SLSXFO</td><td>SLS transfer out</td></tr><tr><td>SSCAMR</td><td>Amended superannuation contribution tax</td></tr><tr><td>SSCDAA</td><td>Superannuation contribution tax default assessment amendment</td></tr><tr><td>SSCDAD</td><td>Superannuation contribution tax default assessment</td></tr><tr><td>SSCORI</td><td>Superannuation contribution tax</td></tr><tr><td>STDPYM</td><td>Payment</td></tr><tr><td>TAPPND</td><td>Unprocessed transaction(s)</td></tr><tr><td>TAXMND</td><td>Assessment</td></tr><tr><td>TBROTD</td><td>Retained credit</td></tr><tr><td>TLFCSC</td><td>Transfer in</td></tr><tr><td>TLFINT</td><td>Transfer in</td></tr><tr><td>TLTCSC</td><td>Transfer out</td></tr><tr><td>TLTINT</td><td>International direct credit transfer</td></tr><tr><td>TLTNCP</td><td>Transfer out</td></tr><tr><td>TPAFWD</td><td>Transfer to tax pool</td></tr><tr><td>TPAREC</td><td>Transfer in from customer</td></tr><tr><td>UCMSCH</td><td>Assessment</td></tr><tr><td>WAVOTC</td><td>Remission</td></tr><tr><td>WOOTC</td><td>Write-off</td></tr><tr><td>WOSOTC</td><td>Write-off</td></tr><tr><td>WTDTPA</td><td>Tax pool withdrawal</td></tr><tr><td>XFRDSC</td><td>Disbursement transfer source credit</td></tr><tr><td>XFRIN</td><td>Transfer in</td></tr><tr><td>XFROUT</td><td>Transfer out</td></tr></tbody></table>'
                    maxLength: 6
                    minLength: 6
                    enum: 
                      - ADJAWO
                      - ADJFIT
                      - ADJIWD
                      - ADJMDO
                      - ADJMPC
                      - ADJMPD
                      - ADJPWV
                      - ADJRLT
                      - ADJRPR
                      - ADJSBA
                      - ADJSUS
                      - ADJUPL
                      - ADJWOC
                      - ADJXMT
                      - ADSOTC
                      - AIMDBT
                      - AUDCSE
                      - AUDDPC
                      - AUDDPD
                      - AUDFOR
                      - AUDKSE
                      - AUDKSR
                      - AUDPAY
                      - AUDSLE
                      - AUDSSC
                      - AUDTXC
                      - AUDTXD
                      - BALCLS
                      - BALOPN
                      - BENDLT
                      - BPAXFB
                      - BPAXFO
                      - BPAXFR
                      - CLMCRD
                      - CNVADM
                      - CNVAJC
                      - CNVAJD
                      - CNVAMP
                      - CNVARC
                      - CNVARD
                      - CNVASC
                      - CNVCCD
                      - CNVCPC
                      - CNVCPD
                      - CNVCRC
                      - CNVCRT
                      - CNVCRV
                      - CNVCSC
                      - CNVCSD
                      - CNVCSE
                      - CNVCSO
                      - CNVDOD
                      - CNVDOT
                      - CNVDSB
                      - CNVDTD
                      - CNVENT
                      - CNVETC
                      - CNVETD
                      - CNVEWH
                      - CNVIDC
                      - CNVIMP
                      - CNVINC
                      - CNVINT
                      - CNVIWC
                      - CNVIWD
                      - CNVKEC
                      - CNVKED
                      - CNVKRC
                      - CNVKRD
                      - CNVKSE
                      - CNVKSP
                      - CNVKSR
                      - CNVKSU
                      - CNVKSV
                      - CNVLIC
                      - CNVLIN
                      - CNVLTF
                      - CNVMIC
                      - CNVMID
                      - CNVMSE
                      - CNVNPP
                      - CNVOBB
                      - CNVOBC
                      - CNVOBD
                      - CNVOIC
                      - CNVOID
                      - CNVPAY
                      - CNVPIN
                      - CNVPLD
                      - CNVPLF
                      - CNVPNL
                      - CNVPRV
                      - CNVPWC
                      - CNVPYC
                      - CNVPYD
                      - CNVPYM
                      - CNVRCC
                      - CNVRCD
                      - CNVREC
                      - CNVRED
                      - CNVRID
                      - CNVRIN
                      - CNVRIP
                      - CNVRLF
                      - CNVRPF
                      - CNVRPL
                      - CNVRPN
                      - CNVRPP
                      - CNVRSD
                      - CNVRTC
                      - CNVRTD
                      - CNVRVD
                      - CNVSBD
                      - CNVSBO
                      - CNVSCC
                      - CNVSCD
                      - CNVSEC
                      - CNVSED
                      - CNVSHR
                      - CNVSLC
                      - CNVSLD
                      - CNVSLE
                      - CNVSOL
                      - CNVSPT
                      - CNVSSC
                      - CNVTBR
                      - CNVTPD
                      - CNVTXC
                      - CNVTXD
                      - CNVUPC
                      - CNVURC
                      - CNVURD
                      - CNVVCO
                      - CNVVRB
                      - CNVWCM
                      - CNVWOC
                      - CNVWOD
                      - CNVWSC
                      - CNVWSD
                      - CNVWTH
                      - CNVXFI
                      - CNVXFO
                      - COLDSB
                      - CPRBNO
                      - CPRDLT
                      - CRDEWH
                      - CRDNTE
                      - CSEAMR
                      - CSECRD
                      - CSEDAA
                      - CSEDAD
                      - CSEDEC
                      - CSEDED
                      - CSEDRA
                      - CSEDRO
                      - CSEICC
                      - CSEORI
                      - CSLDRO
                      - CSLICS
                      - CSLIDM
                      - CSMDRA
                      - CSMDRO
                      - CSPDSB
                      - CSPRPR
                      - DSBCBD
                      - DSBCHQ
                      - DSBDIR
                      - DSBIAC
                      - DSBIBD
                      - DSBSEP
                      - DSBTTR
                      - DSIMNL
                      - DSOMNL
                      - DSXCPR
                      - DSXCSE
                      - DSXFAM
                      - DSXFIR
                      - DSXICA
                      - DSXINC
                      - DSXKSE
                      - DSXKSR
                      - DSXKSS
                      - DSXMAC
                      - DSXNCP
                      - DSXPAY
                      - DSXPRV
                      - DSXQCT
                      - DSXREB
                      - DSXSHR
                      - DSXSLE
                      - DSXSLS
                      - DSXSSC
                      - DSXWPE
                      - DSXWPN
                      - EXGCRC
                      - FAMCRD
                      - FAMSQA
                      - FAMSQC
                      - FAMSQD
                      - FEEADM
                      - FEEAPP
                      - FEECCC
                      - FEECCD
                      - FEEDMG
                      - FEEDSB
                      - FEEEXT
                      - FEEGST
                      - FEELQD
                      - FEESEC
                      - FEESOL
                      - FEESPR
                      - FEESVC
                      - FRSCRD
                      - FRSRTC
                      - FTRREG
                      - FTRRTN
                      - FWDAIL
                      - FWDAIP
                      - FWDCAD
                      - FWDCOL
                      - FWDCPR
                      - FWDCRS
                      - FWDCSC
                      - FWDCSP
                      - FWDDWT
                      - FWDEQU
                      - FWDERA
                      - FWDFAM
                      - FWDFBT
                      - FWDFTR
                      - FWDGMD
                      - FWDGSD
                      - FWDGST
                      - FWDIIT
                      - FWDIPE
                      - FWDIPS
                      - FWDITN
                      - FWDLGL
                      - FWDLOD
                      - FWDNCP
                      - FWDNRT
                      - FWDPIE
                      - FWDPPL
                      - FWDPRS
                      - FWDPSO
                      - FWDREB
                      - FWDRLT
                      - FWDRUL
                      - FWDRWT
                      - FWDSBC
                      - FWDSLS
                      - FWDTOD
                      - FWDUCM
                      - FWDUCO
                      - GLDCRD
                      - INTCLS
                      - INTCRD
                      - INTLON
                      - INTMNC
                      - INTMND
                      - INTOPN
                      - INTRFN
                      - INTSTD
                      - INTTPA
                      - INTWSC
                      - INTWSD
                      - INTWTH
                      - KSEAMR
                      - KSEDAA
                      - KSEDAD
                      - KSEORI
                      - KSFCCR
                      - KSFOUD
                      - KSFPOF
                      - KSFUCD
                      - KSRAMR
                      - KSRCRV
                      - KSRDAA
                      - KSRDAD
                      - KSRORI
                      - KSRSUM
                      - KSSCRV
                      - KSSDPS
                      - KSSGRV
                      - KSSRCV
                      - KSSRRD
                      - KSSSUM
                      - KSSUCM
                      - KSSVCR
                      - KSSXFI
                      - KSSXFO
                      - KSVAMR
                      - KSVORI
                      - LCKCRV
                      - LCKKSS
                      - LCKTPA
                      - LFPEV1
                      - LFPEV2
                      - LONEVL
                      - MANWTH
                      - MNLEXG
                      - MNLLTF
                      - MNLTXC
                      - MNLTXD
                      - MPOKSS
                      - NCPDLT
                      - OFFBRP
                      - PAYAMR
                      - PAYDAA
                      - PAYDAD
                      - PAYORI
                      - PNLADT
                      - PNLBPS
                      - PNLFPY
                      - PNLFRC
                      - PNLIMP
                      - PNLIPP
                      - PNLLF1
                      - PNLLF2
                      - PNLLFE
                      - PNLLFR
                      - PNLLPI
                      - PNLLTF
                      - PNLLTP
                      - PNLMNL
                      - PNLNCP
                      - PNLNEL
                      - PNLNPP
                      - PNLSHM
                      - PNLSHR
                      - PNLSSU
                      - PNLUND
                      - PNLWSD
                      - PPL
                      - PPLCRD
                      - PRTOTC
                      - PRTOTD
                      - PRVDBT
                      - PYMACC
                      - PYMAUD
                      - PYMBKD
                      - PYMBLK
                      - PYMBRP
                      - PYMCOL
                      - PYMCST
                      - PYMEST
                      - PYMKSS
                      - PYMLCA
                      - PYMLCP
                      - PYMLCR
                      - PYMPLN
                      - PYMPRD
                      - PYMRES
                      - PYMRTN
                      - PYMTPA
                      - RCVTPA
                      - RCVTPO
                      - RECAIL
                      - RECAIP
                      - RECCAD
                      - RECCPR
                      - RECCRS
                      - RECCSC
                      - RECDWT
                      - RECEQU
                      - RECERA
                      - RECFAM
                      - RECFBT
                      - RECGMD
                      - RECGSD
                      - RECGST
                      - RECIIT
                      - RECIPE
                      - RECIPS
                      - RECITN
                      - RECKSS
                      - RECLGL
                      - RECLOD
                      - RECNCP
                      - RECNRT
                      - RECPIE
                      - RECPPL
                      - RECPRS
                      - RECPSO
                      - RECREB
                      - RECRLT
                      - RECRUL
                      - RECRWT
                      - RECSLS
                      - RECTOD
                      - RECUCM
                      - RECUCO
                      - RESFOR
                      - RESWTH
                      - REVCRD
                      - REVINC
                      - REVIND
                      - REVOTC
                      - REVOTD
                      - REVPNC
                      - REVTXC
                      - REVTXD
                      - ROLCRD
                      - ROLDBT
                      - RSPDSB
                      - RSPFWD
                      - RSPLOD
                      - RTNACR
                      - RTNADR
                      - RTNAMA
                      - RTNAMI
                      - RTNAMR
                      - RTNANC
                      - RTNAND
                      - RTNCRD
                      - RTNDAA
                      - RTNDAC
                      - RTNDAD
                      - RTNDAP
                      - RTNDCM
                      - RTNEPC
                      - RTNF01
                      - RTNF02
                      - RTNF03
                      - RTNFIT
                      - RTNINC
                      - RTNIND
                      - RTNOBB
                      - RTNORI
                      - RTNPRV
                      - RTNRDC
                      - RTNRDD
                      - SBCDSB
                      - SBCLOD
                      - SBOOTC
                      - SLEAMR
                      - SLEDAA
                      - SLEDAD
                      - SLEORI
                      - SLSASC
                      - SLSCAD
                      - SLSCAP
                      - SLSCCC
                      - SLSCCD
                      - SLSDEC
                      - SLSDED
                      - SLSDEM
                      - SLSDEV
                      - SLSESC
                      - SLSESD
                      - SLSFEC
                      - SLSFED
                      - SLSINC
                      - SLSIND
                      - SLSLCC
                      - SLSLCD
                      - SLSMCC
                      - SLSMCD
                      - SLSMIC
                      - SLSMID
                      - SLSMLC
                      - SLSMLD
                      - SLSMNC
                      - SLSODC
                      - SLSODD
                      - SLSRCC
                      - SLSRCD
                      - SLSSAC
                      - SLSSAD
                      - SLSSCC
                      - SLSSCD
                      - SLSSPC
                      - SLSSPD
                      - SLSUNC
                      - SLSUND
                      - SLSXFI
                      - SLSXFO
                      - SSCAMR
                      - SSCDAA
                      - SSCDAD
                      - SSCORI
                      - STDPYM
                      - TAXMND
                      - TBROTD
                      - TLFCSC
                      - TLFINT
                      - TLTCSC
                      - TLTINT
                      - TLTNCP
                      - TPAFWD
                      - TPAREC
                      - UCMSCH
                      - WAVOTC
                      - WOOTC
                      - WOSOTC
                      - WTDTPA
                      - XFRDSC
                      - XFRIN
                      - XFROUT
                  postedDate: 
                    type: string
                    format: date
                    description: Transaction posted date
                  effectiveDate: 
                    type: string
                    format: date
                    description: Transaction effective date
                  amount: 
                    type: number
                    description: Transaction amount
                  linkedTransactionId: 
                    type: string
                    description: Linked transaction Id
      pendingPayments: 
        type: array
        items: 
          type: object
          description: Data object representing pending payments
          required: 
            - paymentId
            - paymentAmount
            - paymentPendingDate
          properties: 
            paymentId: 
              type: string
              description: Pending payment Id
            paymentAmount: 
              type: number
              description: Pending payment amount
            paymentPendingDate: 
              type: string
              format: date
              description: Pending payment date
      creditTransfers: 
        type: array
        items: 
          type: object
          description: Data object representing credit transfer
          required: 
            - transactionId
            - transferAccountId
            - transferAccountAccountType
            - transferPeriod
          properties: 
            transactionId: 
              type: string
              description: Transaction Id of the credit transfer
            transferAccountId: 
              type: string
              description: Account Id of the credit transfer destination
            transferAccountAccountType: 
              type: string
              description: 'Account type of the credit transfer destination<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>AIL</td><td>Approved issuer levy</td></tr><tr><td>AIP</td><td>Account Information Provider</td></tr><tr><td>BPA</td><td>Multi payment option</td></tr><tr><td>CAD</td><td>Casino duty</td></tr><tr><td>CFM</td><td>Complying Fund Member Account</td></tr><tr><td>COL</td><td>Cost of Living payment</td></tr><tr><td>CPR</td><td>Child support - Receiving carer</td></tr><tr><td>CRS</td><td>CRS</td></tr><tr><td>CSC</td><td>Child Support Credit</td></tr><tr><td>CSD</td><td></td></tr><tr><td>CSP</td><td>COVID-19 Support Payment</td></tr><tr><td>DSB</td><td>Client refunds</td></tr><tr><td>DWT</td><td>Dividend withholding tax</td></tr><tr><td>EQU</td><td>Income equalisation</td></tr><tr><td>ERA</td><td>Environmental restoration</td></tr><tr><td>FAM</td><td>Working for Families</td></tr><tr><td>FAT</td><td>FATCA</td></tr><tr><td>FBT</td><td>FBT</td></tr><tr><td>FTR</td><td>NZ foreign trust</td></tr><tr><td>GDA</td><td>General Disbursement Account</td></tr><tr><td>GMD</td><td>Gaming machine duty</td></tr><tr><td>GSD</td><td>GST satisfaction of debt</td></tr><tr><td>GST</td><td>GST</td></tr><tr><td>ICL</td><td>International Collection</td></tr><tr><td>IPE</td><td>Withholding Disbursements Account</td></tr><tr><td>IPS</td><td>RWT on interest</td></tr><tr><td>ISA</td><td>Interim Suspense Account</td></tr><tr><td>KSF</td><td>KiwiSaver scheme</td></tr><tr><td>KSS</td><td>KiwiSaver member</td></tr><tr><td>LGL</td><td>Legal costs</td></tr><tr><td>LOD</td><td>Lottery duty</td></tr><tr><td>NCP</td><td>Child support - Liable parent</td></tr><tr><td>NRT</td><td>Non-resident withholding tax</td></tr><tr><td>PIE</td><td>Portfolio investment entity</td></tr><tr><td>PPL</td><td>Paid Parental Leave</td></tr><tr><td>PRS</td><td>Payroll subsidy</td></tr><tr><td>PSO</td><td>Payroll</td></tr><tr><td>RDI</td><td>R&D tax incentive</td></tr><tr><td>REB</td><td>Donation tax credit</td></tr><tr><td>RLT</td><td>Residential land withholding tax</td></tr><tr><td>RPR</td><td>Reparations account</td></tr><tr><td>RSP</td><td>Resurgence Support Payment</td></tr><tr><td>RUL</td><td>Rulings and determinations</td></tr><tr><td>RWT</td><td>Resident withholding tax</td></tr><tr><td>SBC</td><td>Small Business loan</td></tr><tr><td>SLS</td><td>Student loan</td></tr><tr><td>TOD</td><td>Totalisator duty</td></tr><tr><td>TPA</td><td>Tax Pooling account</td></tr><tr><td>UCM</td><td>Unclaimed money holder</td></tr><tr><td>UCO</td><td>Unclaimed money claimant</td></tr><tr><td>INC</td><td>Income Tax</td></tr></tbody></table>'
              enum: 
                - AIL
                - AIP
                - BPA
                - CAD
                - CFM
                - COL
                - CPR
                - CRS
                - CSC
                - CSD
                - CSP
                - DSB
                - DWT
                - EQU
                - ERA
                - FAM
                - FAT
                - FBT
                - FTR
                - GDA
                - GMD
                - GSD
                - GST
                - ICL
                - IIT
                - IPE
                - IPS
                - ISA
                - ITN
                - KSF
                - KSS
                - LGL
                - LOD
                - NCP
                - NRT
                - PIE
                - PPL
                - PRS
                - PSO
                - RDI
                - REB
                - RLT
                - RPR
                - RSP
                - RUL
                - RWT
                - SBC
                - SLS
                - TOD
                - TPA
                - UCM
                - UCO
            transferPeriod: 
              type: string
              format: date
              description: Filing period of the credit transfer destination
      disbursements: 
        type: array
        items: 
          type: object
          description: Data object representing disbursement
          required: 
            - transactionId
            - bankAccountStandard
          properties: 
            transactionId: 
              type: string
              description: Transaction Id of the disbursement
            bankAccountStandard: 
              type: string
              description: 'Bank account standard of the disbursement bank account<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>ABA</td><td>United States of America</td></tr><tr><td>ALBIBN</td><td>Albania - IBAN</td></tr><tr><td>ALGIBN</td><td>Algeria Bank Account Standard</td></tr><tr><td>ANGIBN</td><td>Angola - IBAN</td></tr><tr><td>ANT</td><td>Antigua and Barbuda</td></tr><tr><td>ARG</td><td>Argentina</td></tr><tr><td>ARM</td><td>Armenia</td></tr><tr><td>AUAIBN</td><td>Austria - IBAN</td></tr><tr><td>AUB</td><td>Australia</td></tr><tr><td>AZEIBN</td><td>Azerbaijan - IBAN</td></tr><tr><td>BAG</td><td>Bangladesh</td></tr><tr><td>BAH</td><td>Bahamas</td></tr><tr><td>BANIBN</td><td>Bahrain - IBAN</td></tr><tr><td>BAR</td><td>Barbados</td></tr><tr><td>BEL</td><td>Belize</td></tr><tr><td>BELIBN</td><td>Belgium - IBAN</td></tr><tr><td>BEN</td><td>Benin</td></tr><tr><td>BIC</td><td>Business Identifier Code (SWIFT)</td></tr><tr><td>BLR</td><td>Belarus</td></tr><tr><td>BOL</td><td>Bolivia</td></tr><tr><td>BOSIBN</td><td>Bosnia and Herzegovina - IBAN</td></tr><tr><td>BOT</td><td>Botswana</td></tr><tr><td>BRAIBN</td><td>Brazil - IBAN</td></tr><tr><td>BRU</td><td>Brunei</td></tr><tr><td>BULIBN</td><td>Bulgaria  - IBAN</td></tr><tr><td>BUPIBN</td><td>Burkina Faso - IBAN</td></tr><tr><td>BURIBN</td><td>Burundi - IBAN</td></tr><tr><td>CAB</td><td>Canada</td></tr><tr><td>CAM</td><td>Cambodia</td></tr><tr><td>CARIBN</td><td>Central African Republic - IBAN</td></tr><tr><td>CCTKN</td><td>Tokenised credit card</td></tr><tr><td>CDI</td><td>Cote d''Ivoire</td></tr><tr><td>CGO</td><td>Republic of the Congo</td></tr><tr><td>CGOIBN</td><td>Democratic Republic of Congo - IBAN</td></tr><tr><td>CHDIBN</td><td>Chad - IBAN</td></tr><tr><td>CHI</td><td>China</td></tr><tr><td>CHL</td><td>Chile</td></tr><tr><td>CMRIBN</td><td>Cameroon - IBAN</td></tr><tr><td>COL</td><td>Colombia</td></tr><tr><td>COM</td><td>Comoros</td></tr><tr><td>COOK</td><td>Cook Islands</td></tr><tr><td>CRAIBN</td><td>Costa Rica - IBAN</td></tr><tr><td>CROIBN</td><td>Croatia - IBAN</td></tr><tr><td>CYOIBN</td><td>Cyprus - IBAN</td></tr><tr><td>CZHIBN</td><td>Czech Republic - IBAN</td></tr><tr><td>DENIBN</td><td>Denmark - IBAN</td></tr><tr><td>DJI</td><td>Djibouti</td></tr><tr><td>DOM</td><td>Dominica</td></tr><tr><td>DOMIBN</td><td>Dominican Republic - IBAN</td></tr><tr><td>ECU</td><td>Ecuador</td></tr><tr><td>EGY</td><td>Egypt</td></tr><tr><td>ELS</td><td>El Salvador</td></tr><tr><td>EQUIBN</td><td>Equatorial Guinea - IBAN</td></tr><tr><td>ERI</td><td>Eritrea</td></tr><tr><td>ESTIBN</td><td>Estonia - IBAN</td></tr><tr><td>ETH</td><td>Ethiopia</td></tr><tr><td>FIJ</td><td>Fiji</td></tr><tr><td>FINIBN</td><td>Finland - IBAN</td></tr><tr><td>FRAIBN</td><td>France - IBAN</td></tr><tr><td>GAB</td><td>Gabon</td></tr><tr><td>GAM</td><td>Gambia</td></tr><tr><td>GBB</td><td>United Kingdom Bank</td></tr><tr><td>GEOIBN</td><td>Georgia - IBAN</td></tr><tr><td>GERIBN</td><td>Germany - IBAN</td></tr><tr><td>GHA</td><td>Ghana</td></tr><tr><td>GREIBN</td><td>Greece - IBAN</td></tr><tr><td>GRN</td><td>Grenada</td></tr><tr><td>GUAIBN</td><td>Guatemala - IBAN</td></tr><tr><td>GUBIBN</td><td>Guinea-Bissau - IBAN</td></tr><tr><td>GUN</td><td>Guinea</td></tr><tr><td>GUY</td><td>Guyana</td></tr><tr><td>HAI</td><td>Haiti</td></tr><tr><td>HOK</td><td>Hong Kong</td></tr><tr><td>HON</td><td>Honduras</td></tr><tr><td>HUNIBN</td><td>Hungary - IBAN</td></tr><tr><td>IBAN</td><td>IBAN</td></tr><tr><td>ICEIBN</td><td>Iceland- IBAN</td></tr><tr><td>INA</td><td>Indonesia</td></tr><tr><td>IND</td><td>India</td></tr><tr><td>IREIBN</td><td>Ireland - IBAN</td></tr><tr><td>IRN</td><td>Iran</td></tr><tr><td>IRQ</td><td>Iraq</td></tr><tr><td>ISRIBN</td><td>Israel - IBAN</td></tr><tr><td>ITAIBN</td><td>Italy - IBAN</td></tr><tr><td>JAM</td><td>Jamaica</td></tr><tr><td>JAP</td><td>Japan</td></tr><tr><td>JORIBN</td><td>Jordan - IBAN</td></tr><tr><td>KAZIBN</td><td>Kazakhstan - IBAN</td></tr><tr><td>KEN</td><td>Kenya</td></tr><tr><td>KIR</td><td>Kiribati</td></tr><tr><td>KOS</td><td>Kosovo</td></tr><tr><td>KUWIBN</td><td>Kuwait - IBAN</td></tr><tr><td>KYR</td><td>Kyrgyzstan</td></tr><tr><td>LAO</td><td>Laos</td></tr><tr><td>LATIBN</td><td>Latvia - IBAN</td></tr><tr><td>LBY</td><td>Libya</td></tr><tr><td>LEBIBN</td><td>Lebanon - IBAN</td></tr><tr><td>LES</td><td>Lesotho</td></tr><tr><td>LIB</td><td>Liberia</td></tr><tr><td>LIEIBN</td><td>Liechtenstein - IBAN</td></tr><tr><td>LITIBN</td><td>Lithuania - IBAN</td></tr><tr><td>LUXIBN</td><td>Luxembourg - IBAN</td></tr><tr><td>MADIBN</td><td>Madagascar - IBAN</td></tr><tr><td>MAEIBN</td><td>Macedonia - IBAN</td></tr><tr><td>MAL</td><td>Malaysia</td></tr><tr><td>MAU</td><td>Mauritius</td></tr><tr><td>MAUIBN</td><td>Mauritania - IBAN</td></tr><tr><td>MC</td><td>Master Card</td></tr><tr><td>MEX</td><td>Mexico</td></tr><tr><td>MGL</td><td>Mongolia</td></tr><tr><td>MIC</td><td>Micronesia</td></tr><tr><td>MLD</td><td>Maldives</td></tr><tr><td>MLI</td><td>Mali</td></tr><tr><td>MLW</td><td>Malawi</td></tr><tr><td>MOCIBN</td><td>Monaco - IBAN</td></tr><tr><td>MOL</td><td>Moldova</td></tr><tr><td>MOR</td><td>Morocco</td></tr><tr><td>MOZ</td><td>Mozambique</td></tr><tr><td>MRS</td><td>Marshall Islands</td></tr><tr><td>MTAIBN</td><td>Malta  - IBAN</td></tr><tr><td>MTN</td><td>Montenegro</td></tr><tr><td>MYA</td><td>Myanmar (Burma)</td></tr><tr><td>NAM</td><td>Namibia</td></tr><tr><td>NAU</td><td>Nauru</td></tr><tr><td>NCS</td><td>NCS</td></tr><tr><td>NETIBN</td><td>Netherlands - IBAN</td></tr><tr><td>NGR</td><td>Nigeria</td></tr><tr><td>NIC</td><td>Nicaragua</td></tr><tr><td>NIG</td><td>Niger</td></tr><tr><td>NIUE</td><td>Niue</td></tr><tr><td>NKO</td><td>North Korea</td></tr><tr><td>NORIBN</td><td>Norway - IBAN</td></tr><tr><td>NPL</td><td>Nepal</td></tr><tr><td>NZB</td><td>New Zealand</td></tr><tr><td>NZCU</td><td>New Zealand Credit Union</td></tr><tr><td>OMA</td><td>Oman</td></tr><tr><td>PAK</td><td>Pakistan</td></tr><tr><td>PAL</td><td>Palau</td></tr><tr><td>PAN</td><td>Panama</td></tr><tr><td>PAR</td><td>Paraguay</td></tr><tr><td>PER</td><td>Peru</td></tr><tr><td>PHI</td><td>Philippines</td></tr><tr><td>PLS</td><td>Palestine</td></tr><tr><td>PNG</td><td>Papua New Guinea</td></tr><tr><td>POLIBN</td><td>Poland - IBAN</td></tr><tr><td>PORIBN</td><td>Portugal - IBAN</td></tr><tr><td>QAT</td><td>Qatar</td></tr><tr><td>ROMIBN</td><td>Romania - IBAN</td></tr><tr><td>RUS</td><td>Russia</td></tr><tr><td>RWA</td><td>Rwanda</td></tr><tr><td>SAF</td><td>South Africa</td></tr><tr><td>SAM</td><td>Samoa</td></tr><tr><td>SAUIBN</td><td>Saudi Arabia - IBAN</td></tr><tr><td>SEN</td><td>Senegal</td></tr><tr><td>SERIBN</td><td>Serbia - IBAN</td></tr><tr><td>SEY</td><td>Seychelles</td></tr><tr><td>SIN</td><td>Singapore</td></tr><tr><td>SKN</td><td>Saint Kitts and Nevis</td></tr><tr><td>SKO</td><td>South Korea</td></tr><tr><td>SLA</td><td>Sri Lanka</td></tr><tr><td>SLE</td><td>Sierra Leone</td></tr><tr><td>SLOIBN</td><td>Slovakia - IBAN</td></tr><tr><td>SLU</td><td>Saint Lucia</td></tr><tr><td>SLVIBN</td><td>Slovenia - IBAN</td></tr><tr><td>SMA</td><td>San Marino</td></tr><tr><td>SOI</td><td>Solomon Islands</td></tr><tr><td>SOM</td><td>Somalia</td></tr><tr><td>SPAIBN</td><td>Spain - IBAN</td></tr><tr><td>SSU</td><td>South Sudan</td></tr><tr><td>STP</td><td>Sao Tome and Principe</td></tr><tr><td>SUD</td><td>Sudan</td></tr><tr><td>SUR</td><td>Suriname</td></tr><tr><td>SVG</td><td>Saint Vincent and the Grenadines</td></tr><tr><td>SWA</td><td>Swaziland</td></tr><tr><td>SWEIBN</td><td>Sweden - IBAN</td></tr><tr><td>SWIIBN</td><td>Switzerland - IBAN</td></tr><tr><td>SYR</td><td>Syria</td></tr><tr><td>TAI</td><td>Taiwan</td></tr><tr><td>TAJ</td><td>Tajikistan</td></tr><tr><td>TAN</td><td>Tanzania</td></tr><tr><td>THA</td><td>Thailand</td></tr><tr><td>TIL</td><td>Timor-Leste</td></tr><tr><td>TOG</td><td>Togo</td></tr><tr><td>TOK</td><td>Tokelau</td></tr><tr><td>TON</td><td>Tonga</td></tr><tr><td>TRI</td><td>Trinidad and Tobago</td></tr><tr><td>TRK</td><td>Turkmenistan</td></tr><tr><td>TUNIBN</td><td>Tunisia - IBAN</td></tr><tr><td>TURIBN</td><td>Turkey - IBAN</td></tr><tr><td>TUV</td><td>Tuvalu</td></tr><tr><td>UAEIBN</td><td>United Arab Emirates</td></tr><tr><td>UGA</td><td>Uganda</td></tr><tr><td>UKR</td><td>Ukraine</td></tr><tr><td>URU</td><td>Uruguay</td></tr><tr><td>UZB</td><td>Uzbekistan</td></tr><tr><td>VAN</td><td>Vanuatu</td></tr><tr><td>VAT</td><td>Vatican City</td></tr><tr><td>VEN</td><td>Venezuela</td></tr><tr><td>VER</td><td>Cape Verde</td></tr><tr><td>VIE</td><td>Vietnam</td></tr><tr><td>YMN</td><td>Yemen</td></tr><tr><td>ZAM</td><td>Zambia</td></tr><tr><td>ZIM</td><td>Zimbabwe</td></tr></tbody></table>'
              enum: 
                - ABA
                - ALBIBN
                - ALGIBN
                - ANGIBN
                - ANT
                - ARG
                - ARM
                - AUAIBN
                - AUB
                - AZEIBN
                - BAG
                - BAH
                - BANIBN
                - BAR
                - BEL
                - BELIBN
                - BEN
                - BIC
                - BLR
                - BOL
                - BOSIBN
                - BOT
                - BRAIBN
                - BRU
                - BULIBN
                - BUPIBN
                - BURIBN
                - CAB
                - CAM
                - CARIBN
                - CCTKN
                - CDI
                - CGO
                - CGOIBN
                - CHDIBN
                - CHI
                - CHL
                - CMRIBN
                - COL
                - COM
                - COOK
                - CRAIBN
                - CROIBN
                - CYOIBN
                - CZHIBN
                - DENIBN
                - DJI
                - DOM
                - DOMIBN
                - ECU
                - EGY
                - ELS
                - EQUIBN
                - ERI
                - ESTIBN
                - ETH
                - FIJ
                - FINIBN
                - FRAIBN
                - GAB
                - GAM
                - GBB
                - GEOIBN
                - GERIBN
                - GHA
                - GREIBN
                - GRN
                - GUAIBN
                - GUBIBN
                - GUN
                - GUY
                - HAI
                - HOK
                - HON
                - HUNIBN
                - IBAN
                - ICEIBN
                - INA
                - IND
                - IREIBN
                - IRN
                - IRQ
                - ISRIBN
                - ITAIBN
                - JAM
                - JAP
                - JORIBN
                - KAZIBN
                - KEN
                - KIR
                - KOS
                - KUWIBN
                - KYR
                - LAO
                - LATIBN
                - LBY
                - LEBIBN
                - LES
                - LIB
                - LIEIBN
                - LITIBN
                - LUXIBN
                - MADIBN
                - MAEIBN
                - MAL
                - MAU
                - MAUIBN
                - MC
                - MEX
                - MGL
                - MIC
                - MLD
                - MLI
                - MLW
                - MOCIBN
                - MOL
                - MOR
                - MOZ
                - MRS
                - MTAIBN
                - MTN
                - MYA
                - NAM
                - NAU
                - NETIBN
                - NGR
                - NIC
                - NIG
                - NIUE
                - NKO
                - NORIBN
                - NPL
                - NZB
                - NZCU
                - OMA
                - PAK
                - PAL
                - PAN
                - PAR
                - PER
                - PHI
                - PLS
                - PNG
                - POLIBN
                - PORIBN
                - QAT
                - ROMIBN
                - RUS
                - RWA
                - SAF
                - SAM
                - SAUIBN
                - SEN
                - SERIBN
                - SEY
                - SIN
                - SKN
                - SKO
                - SLA
                - SLE
                - SLOIBN
                - SLU
                - SLVIBN
                - SMA
                - SOI
                - SOM
                - SPAIBN
                - SSU
                - STP
                - SUD
                - SUR
                - SVG
                - SWA
                - SWEIBN
                - SWIIBN
                - SYR
                - TAI
                - TAJ
                - TAN
                - THA
                - TIL
                - TOG
                - TOK
                - TON
                - TRI
                - TRK
                - TUNIBN
                - TURIBN
                - TUV
                - UAEIBN
                - UGA
                - UKR
                - URU
                - UZB
                - VAN
                - VAT
                - VEN
                - VER
                - VIE
                - YMN
                - ZAM
                - ZIM
            bankAccountDetail: 
              type: array
              items: 
                type: object
                description: Data object representing bank account detail. This object varies for different bank account standards. See build pack for more details.
                required: []
                properties: 
                  bank: 
                    type: string
                    description: 'Bank account detail - bank'
                  branch: 
                    type: string
                    description: 'Bank account detail - branch'
                  account: 
                    type: string
                    description: 'Bank account detail - account'
                  suffix: 
                    type: string
                    description: 'Bank account detail - suffix'
                  accountNumber: 
                    type: string
                    description: 'Bank account detail - accountNumber'
                  routingNumber: 
                    type: string
                    description: 'Bank account detail - routingNumber'
                  referenceNumber: 
                    type: string
                    description: 'Bank account detail - referenceNumber'
                  basicBankAccountNumber: 
                    type: string
                    description: 'Bank account detail - basicBankAccountNumber'
                  swiftBICcode: 
                    type: string
                    description: 'Bank account detail - swiftBICcode'
                  twoCharCountryCode: 
                    type: string
                    description: 'Bank account detail - twoCharCountryCode'
                  checkDigit: 
                    type: string
                    description: 'Bank account detail - checkDigit'
      transactions: 
        type: array
        items: 
          type: object
          description: Data object representing transactions not associated to a bill item
          required: 
            - transactionId
            - transType
            - postedDate
            - effectiveDate
            - amount
            - linkedTransactionId
          properties: 
            transactionId: 
              type: string
              description: Transaction Id
            transType: 
              type: string
              description: 'Transaction types<table><tbody><tr><th>code</th><th>description</th></tr><tr><td>ADJAWO</td><td>Write-off</td></tr><tr><td>ADJFIT</td><td>Adjustment, credit</td></tr><tr><td>ADJIWD</td><td>International adjustment, credit</td></tr><tr><td>ADJMDO</td><td>Debt offset</td></tr><tr><td>ADJMPC</td><td>Adjustment</td></tr><tr><td>ADJMPD</td><td>Adjustment</td></tr><tr><td>ADJPWV</td><td>Payment waiver adjustment</td></tr><tr><td>ADJRLT</td><td>Adjustment, credit</td></tr><tr><td>ADJRPR</td><td>Reparation offset</td></tr><tr><td>ADJSBA</td><td>Small balance offset</td></tr><tr><td>ADJSUS</td><td>Write-off</td></tr><tr><td>ADJUPL</td><td>Uplift of debt write off</td></tr><tr><td>ADJWOC</td><td>Write-off</td></tr><tr><td>ADJXMT</td><td>Write-off</td></tr><tr><td>ADSOTC</td><td>Audit settlement offset</td></tr><tr><td>AIMDBT</td><td>Shareholder offset</td></tr><tr><td>AUDCSE</td><td>Child support deductions audit assessment</td></tr><tr><td>AUDDPC</td><td>Audit dispute</td></tr><tr><td>AUDDPD</td><td>Audit dispute</td></tr><tr><td>AUDFOR</td><td>Audit assessment</td></tr><tr><td>AUDKSE</td><td>KiwiSaver employee deductions audit assessment</td></tr><tr><td>AUDKSR</td><td>KiwiSaver employer contributions audit assessment</td></tr><tr><td>AUDPAY</td><td>PAYE deductions audit assessment</td></tr><tr><td>AUDSLE</td><td>Student loan deductions audit assessment</td></tr><tr><td>AUDSSC</td><td>Superannuation contribution tax audit assessment</td></tr><tr><td>AUDTXC</td><td>Audit assessment</td></tr><tr><td>AUDTXD</td><td>Audit assessment</td></tr><tr><td>BALCLS</td><td>Closing balance</td></tr><tr><td>BALOPN</td><td>Opening balance</td></tr><tr><td>BENDLT</td><td>Benefit adjustment</td></tr><tr><td>BPAXFB</td><td>Transfer in</td></tr><tr><td>BPAXFO</td><td>Transfer out</td></tr><tr><td>BPAXFR</td><td>Transfer in</td></tr><tr><td>CLMCRD</td><td>Claim credit</td></tr><tr><td>CNVADM</td><td>Administration fee</td></tr><tr><td>CNVAJC</td><td>Adjustment</td></tr><tr><td>CNVAJD</td><td>Adjustment</td></tr><tr><td>CNVAMP</td><td>Amnesty penalty</td></tr><tr><td>CNVARC</td><td>Adjustment, credit</td></tr><tr><td>CNVARD</td><td>Assessment</td></tr><tr><td>CNVASC</td><td>Loan assessed</td></tr><tr><td>CNVCCD</td><td>Contribution created</td></tr><tr><td>CNVCPC</td><td>Capitalisation credit</td></tr><tr><td>CNVCPD</td><td>Capitalisation debit</td></tr><tr><td>CNVCRC</td><td>Court costs</td></tr><tr><td>CNVCRT</td><td>Court costs</td></tr><tr><td>CNVCRV</td><td>Contribution</td></tr><tr><td>CNVCSC</td><td>Child support deductions write-off</td></tr><tr><td>CNVCSD</td><td>Write-off</td></tr><tr><td>CNVCSE</td><td>Child support deductions</td></tr><tr><td>CNVCSO</td><td>Write-off</td></tr><tr><td>
[...]
